@import 'screen-responsive.scss';
//color variable
$defaultTextColor: rgba($color: #424242, $alpha: 1);
$defaultLinkColor: rgba($color: #043694af, $alpha: 1);
//phone or default variable
$defaultPadding: 1.5em 2em;
$defaultTopMargin: 2.5em;
$defaultFontTitle: 1.2em;
//xld variable
$xldPadding: 0 5em 0 5em;
$xldFontTitle: 1.8em;
$xldFontLink: 0.8em;

html{
    color: $defaultTextColor;
    width: 100vw;
    height: 100vh;
}

a{
    color: $defaultLinkColor;
    text-decoration: none;
    @include xld{
        font-size: $xldFontLink;
    }
}
.pages{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;

    .navbar{
        //background-color: black;
        box-sizing: border-box;
        width:100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: $defaultPadding;
        @include xld{
            height:100%;
            padding: $xldPadding;
        }
        .logo{
            height: 6vh;

            @include xld{
                height: 30%;
            }
        }
        .watermark{
            position: absolute;
            left: -5vh;
            height: 10vh;
            top: 5vh;
            z-index: -1;
            opacity: 15%;

            @include xld{
                top: 9%;
                height: 12%;
                left: 3%;
            }
        }
    }

    .content{
        box-sizing: border-box;
        padding: $xldPadding;
        display: flex;
        flex-direction: column-reverse;
        height: 90%;
        width: 100%;
        flex-grow: 1;
        justify-content: center;
        align-items:center;
        
        @include xld{
            justify-content: flex-start;
            align-items:center;
            height: 80%;
            padding: $xldPadding;
            justify-content: flex-start;
            flex-direction: row;
            padding-bottom: 5%;
            
        }
        img{
            box-sizing: border-box;
            margin-top: $defaultTopMargin;
            width: 80vw;
            opacity: 0.9;

            @include xld{
                padding-top:5%;
                flex-grow: 1;
                height: 100%;
                margin-top: 0;
            }
        }
        .form{
            margin-top: $defaultTopMargin;
            width: 80vw;
            height: 90%;
            border-radius: 5px;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: $defaultPadding;
            border: 2px solid rgba($color: #000000, $alpha: 0.2);
            
            @include xld{
                width: 70%;
                flex-grow: 0;
                padding: 1em 2em 1em 2em;
            }
            &.small{
                width: 80vw;
                @include xld{
                    width: 30%;
                }
            }
            &.bold-shadow{
                box-shadow: -15px 15px 11px -9px rgba(0,0,0,0.25);
            }
            .form-input{
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .form-items{
                width:100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 1em;

                &.title{
                    font-size: $defaultFontTitle;
                    font-weight: bold;
                    @include xld{
                        font-size: $xldFontTitle;
                    }
                }

                &.button-group{
                    margin-top:20px;
                    align-items: center;
                    width:100%;
                    flex-direction: row-reverse;
                    button{
                        margin-left:10px;
                        padding: 5px 20px;
                        width: auto;
                    }
                }
            }

            input{
                box-shadow:none;
                outline:0;
                border: solid 1px #6e6e6e;
                border-radius: 3px;
                margin-top: 10px;
                padding: 5px;
            }

            input:focus{
                border: solid 1px #6eb2ff;
                border-bottom: solid 1.5px #489af7;
            }
        }
    }
}