//for small tablets and landscape smartphone
$screen-ptablet-min: 576px;
//for small tablet (landscape)
$screen-ltablet-min: 764px;
//for tablets and small dekstop
$screen-sdeks-min: 992px;
//for large tablets and dekstop
$screen-deks-min: 1200px;


//MIXIN

//small device
@mixin sd{
    @media (min-width: #{$screen-ptablet-min}){
        @content;
    }
}
//medium device
@mixin md{
    @media (min-width: #{$screen-ltablet-min}){
        @content;
    }
}
//large device
@mixin ld{
    @media (min-width: #{$screen-sdeks-min}){
        @content;
    }
}
//small device
@mixin xld{
    @media (min-width: #{$screen-deks-min}){
        @content;
    }
}
